@import "vars.less";


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
html {
  font-size: 15px;
}

*,*:after,*:before{
  box-sizing: border-box;
}
/*Blocks*/
@import "blocks/container.less";
@import "blocks/user.less";
@import "blocks/header.less";
@import "blocks/nav.less";
@import "blocks/intro.less";
@import "blocks/social.less";
@import "blocks/btn.less";
@import "blocks/works.less";
@import "blocks/work.less";
@import "blocks/portfolio.less";
@import "blocks/about.less";
/*Helpers*/
@import "helpers.less";
