body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 15px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
/*Blocks*/
.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.user {
  display: flex;
}
.user__avatar {
  width: 57px;
  height: 57px;
  padding-right: 9px;
  box-sizing: content-box;
}
.user__avatar img {
  border-radius: 50%;
}
.user__name {
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 700;
  line-height: 1.2rem;
}
.user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  line-height: 1.46rem;
  padding-top: 1px;
}
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* подчёркивание в nav делается не через border-bottom
для возможности анимирования*/
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__link {
  margin-right: 2rem;
  font-size: 0.93rem;
  position: relative;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
}
.nav__link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #2B2A2C;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: 0.66rem 2rem;
  border: 2px solid #2B2A2C;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #2B2A2C;
  color: white;
}
.intro__inner {
  display: flex;
  padding-top: 100px;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  padding-bottom: 120px;
  background: url("../images/symbols.png") right bottom no-repeat;
  background-size: 35em;
  position: relative;
}
.intro__content {
  width: 60%;
  max-height: 300px;
}
.intro__subtitle {
  font-size: 2.13rem;
  color: #2B2A2C;
  font-weight: 200;
}
.intro__title {
  margin-bottom: 5px;
  font-size: 3rem ;
  color: #2B2A2C;
  font-weight: 700;
}
.intro__text {
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
}
.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
}
.social {
  margin: 1.8rem 0;
}
.social__link svg {
  width: 41px;
  height: 41px;
  padding: 0.4rem;
  transition: transform 0.2s linear;
}
.social__link svg:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  fill: #1869FF;
}
a:link {
  text-decoration: none;
}
.icon {
  width: 30px;
  height: 30px;
  fill: red;
}
.btn {
  display: inline-block;
  vertical-align: top;
  background: none;
  border: 1px solid #6A696B;
  border-radius: 30px;
  font-size: 1.06rem;
  line-height: 1.1;
  padding: 1.05em 1.7em;
  font-family: inherit;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  min-width: 170px;
  color: inherit;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  /* Mods */
}
.btn:hover {
  background-color: #2B2A2C;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  padding: 0.5em 1em;
  font-size: 0.94rem;
  font-weight: 700;
  border-width: 2px;
}
.works {
  padding: 2.8rem 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.works__nav-link {
  margin: 0 1.2rem;
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  text-decoration: none;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.work {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
}
.work:hover {
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.work__image {
  max-width: 100%;
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__cat {
  font-size: 0.8rem;
  color: #2B2A2C;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio__col {
  flex-basis: 33.33333%;
  padding: 1rem;
}
/*Helpers*/
.text-center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */